.container {
  width: 1331px;
  padding: 20px;
  margin: 20px;
}

.btn-new {
  width: 249.5px;
  height: 88px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 12px;
  border: 1px;
  opacity: 0px;
  background: #fcf9f9cd;
}
.btn-new:hover {
  background: #834cff1a;
}
.header-card {
  display: flex;
  gap: 100px;
}

.btn-my {
  width: 249.5px;
  height: 88px;
  padding: 16px 20px;
  gap: 8px;
  border-radius: 12px;
  border: 1px;
  opacity: 0px;
  background: #fcf9f9cd;
}
.btn-my:hover {
  background: #834cff1a;
}
.btns {
  display: flex;
  gap: 12px;
}
.title-c {
  width: 236px;
  height: 48px;
  gap: 0px;
  opacity: 0px;
  font-weight: 900;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #000000;
}

.subs_ctitle {
  font-family: Helvetica Now Display;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.9px;
  text-align: left;
  color: #707f8f;
}
.inp-title {
  color: #707f8f;
}
.name-inp {
  width: 400px;
}
.buttons {
  padding-top: 10px;
}
.can-btn {
  width: 252px;
  height: 56px;
  padding: 8px 20px 8px 18px;
  gap: 6px;
  border-radius: 12px;
  opacity: 0px;
  background: #f2f5f7;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.my-btn {
  width: 252px;
  height: 56px;
  padding: 8px 20px 8px 18px;
  gap: 6px;
  border-radius: 12px;
  opacity: 0px;
  background: #f2f5f7;
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.my-btn:hover {
  background: #834cff;
  color: white;
}
.can-btn:hover {
  background: #834cff;
  color: white;
}
.buttons {
  display: flex;
  gap: 10px;
}
.footer-title {
  width: 430px;

  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
  text-align: left;
  color: #707F8F;

}
.back-img img {
  width: 730px;
  height: 700px;
}
